/*

!nvim
!yabai
!skhd
!sketchybar
!gitui
!scripts
!tmux
!.zshrc
!*.itermcolors
!README.md
!yazi
!btop
!shell
!wezterm
!brew
!.gitignore
!bat
!piantor1.0.vil
!layout.jpg

alacritty/themes
tmux/plugins
